# =========================
# Ambiente virtual
# =========================
.venv/
venv/
env/

# =========================
# Cache do Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Arquivos de ambiente
# =========================
.env
.env.*

# =========================
# Chaves e credenciais
# =========================
*.p8
*.pem
*.key

# =========================
# Arquivos gerados / logs
# =========================
request_response.json
*.log

# =========================
# VS Code / IDE
# =========================
.vscode/
.idea/
*.swp

# =============
